.product-item {
    width: 100vw;
    height: 100vh;
}

.product-item .product-detail {
    display: flex;
    width: 60vw;
    margin: 0 auto;
}

.product-item .product-detail .product-image {
    width: 30%;
}

.product-item .product-detail .product-info {
    width: 70%;
}

.product-name {
    font-size: 32px;
    font-family: monospace;
}

.product-price {
    display: flex;
    align-items: center;
}

.product-price .product-main-price {
    font-weight: bold;
    font-size: 28px;
    color: red;
    margin-right: 8px;
}

.btn {
    border-radius: 5px;
    background-color: rgb(164, 235, 188);
    padding: 4px 8px 4px 8px;
}

.product-remain {
    opacity: 0.5;
}

.btn-normal {
    padding: 8px 16px 8px 16px;
}