.header {
    height: 120px;
    background-color: #189eff;
}

.header__navbar {
    display: flex;
    justify-content: space-between;
    height: 36%;
}

.header__search-cart {
    height: 64%;
    display: flex;
    justify-content: space-around;
}

.header__navbar-list {
    list-style: none;
    padding-left: 0px;
}

.header__navbar-item {
    margin: 0 8px;
}

.header__navbar-item,
.header__navbar-item-link {
    display: inline-block;
    font-size: 1.4rem;
    color: var(--black-color);
    text-decoration: none;
    font-weight: 300;
}

.header__navbar-item--strong {
    font-weight: 500;
}


/* .header__navbar-item--separate::after{
    content: "";
    display: block;
    position: absolute;
    border: 1px solid #FB9086;
    height: 12px;
    right: 1180px;
    top: 11px;
} */

.modal-login-signup {
    /* display: none !important; */
}

.dialog {
    z-index: 1;
}

#content {
    /* opacity: 0.1; */
    height: 100%;
    width: 100%;
    background-color: blue;
    z-index: 0;
}

#di-login-signup {
    display: flex;
    border-radius: 10px;
    background-color: #f8f8f8;
    /* margin-left: auto;
    margin-right: auto; */
    /* margin-top: auto;
    margin-bottom: auto; */
    width: 900px;
    height: 630px;
    font-size: 14px;
    border: 1px solid #c8c8c8;
}

.iconx {
    top: -20px;
    position: relative;
    left: 512px;
}

.icon {
    cursor: pointer;
    border-radius: 100%;
    height: 20px;
    width: 20px;
}

#notif {
    border-radius: 10px;
    background-color: white;
    width: 360px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#login-signup {
    padding: 15px;
    height: 100%;
    width: 540px;
    right: 0px;
}

#login-signup div {
    background-color: white;
}

#notif h2 {
    text-align: center;
    padding-top: 20px;
}

#notif p {
    padding: 30px;
    text-align: center;
}

#op-login,
#op-signup {
    cursor: pointer;
    padding: 15px;
    margin-left: 30px;
}

#op-login {
    border-bottom: 3px solid #1ba8ff;
}

.content.login,
.content.signup {
    padding: 35px 27px 35px 27px;
    height: 440px;
}

.element {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

input.name,
input.password,
input.phone,
input.email {
    border-radius: 5px;
    height: 35px;
    width: 381px;
    border: 1px solid #cccccc;
    background-color: #e8f0fe;
    padding: 6px 12px 6px 12px;
}

button.btn-login,
button.btn-signup {
    background-color: #fdd835;
    width: 381px;
    height: 41px;
    border: none;
    border-radius: 5px;
}

input:focus {
    outline: 1px;
    border: 1px solid #66afe9 !important;
}

textarea:focus {
    outline: 1px;
    border: 1px solid #66afe9 !important;
}


button {
    cursor: pointer;
}

.header__container {
    padding: 40px 0 40px 40px;
    max-width: 1000px;
    align-items: center;
    height: 100%;
    width: 100%;
}

#charactersList {
    padding-inline-start: 0;
    display: grid;
    grid-template-columns: norepeat;
    grid-gap: 20px;
}

.character {
    list-style-type: none;
    background-color: #eaeaea;
    border-radius: 5px;
    padding: 10px 10px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-areas: 'name image' 'house image';
    text-align: left;
}

.character>h2 {
    grid-area: name;
    margin-bottom: 0px;
}


/* .character > p {
    grid-area: house;
    margin: 0;
    margin-top: 10px;
} */

.character>img {
    max-height: 50px;
    grid-area: image;
}

#searchBar {
    width: 100%;
    height: 32px;
    border-radius: 3px;
    border: 1px solid #eaeaea;
    padding: 5px 10px;
    font-size: 12px;
}

#searchWrapper {
    position: relative;
    margin-top: -20px;
}

#searchWrapper::after {
    content: '🔍';
    position: absolute;
    top: 7px;
    right: 15px;
}


/* section */

.band-name {
    text-align: center;
    margin: 0;
    font-size: 4em;
    font-family: 'Booter - Zero Zero';
    font-weight: normal;
    color: white;
}

.band-name-large {
    font-size: 8em;
}

.content-section {
    margin: 1em;
}

#container-product {
    display: flex;
    margin: 0 auto;
    padding: 0 1.5em;
}

.section-header {
    font-family: 'Metal Mania';
    font-weight: normal;
    color: #333;
    text-align: center;
    font-size: 2.5em;
}

.about-band-image {
    float: left;
    height: 200px;
    width: 200px;
    margin: 15px;
    border-radius: 50%;
}

.main-footer {
    background-color: #56ccf2;
    color: white;
    padding: 0.25em 0;
}

.main-footer-container {
    display: flex;
    align-items: center;
}

.main-footer-container ul {
    flex-grow: 1;
    text-align: end;
}

.footer-nav li {
    padding: 0 0.5em;
}

.footer-nav img {
    width: 30px;
    height: 30px;
}

.btn {
    text-align: center;
    vertical-align: middle;
    padding: 0.67em 0.67em;
    cursor: pointer;
}

.btn-header {
    margin: 0.5em 15% 2em 15%;
    color: white;
    border: 2px solid #2d9cdb;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 0;
    font-size: 1.5em;
    font-weight: lighter;
    padding-left: 2em;
    padding-right: 2em;
}

.btn-header:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.btn-play {
    display: block;
    margin: 0 auto;
    color: #2d9cdb;
    font-size: 4em;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    padding: 0;
    text-align: center;
}

.btn-primary {
    color: white;
    background-color: #56ccf2;
    border: none;
    border-radius: 0.3em;
    font-weight: bold;
}

.btn-primary:hover {
    background-color: #2d9cdb;
}

.tour-row {
    border-bottom: 1px solid black;
    padding-bottom: 1em;
    margin-bottom: 1em;
}

.tour-row:last-child {
    border: none;
}

.tour-item {
    display: inline-block;
    padding-right: 0.5em;
}

.tour-date {
    color: #555;
    width: 11%;
    font-weight: bold;
}

.tour-city {
    width: 24%;
}

.tour-arena {
    width: 42%;
}

.tour-btn {
    max-width: 19%;
}

.shop-item {
    margin: 30px;
}

.shop-item-title {
    display: block;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    color: #333;
    margin-bottom: 15px;
}

.shop-item-image {
    height: 250px;
}

.shop-item-details {
    display: flex;
    align-items: center;
    padding: 5px;
}

.shop-item-price {
    flex-grow: 1;
    color: #333;
}

.shop-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cart-header {
    font-weight: bold;
    font-size: 1.25em;
    color: #333;
}

.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}

.cart-row {
    display: flex;
}

.cart-item {
    width: 45%;
}

.cart-price {
    width: 20%;
    font-size: 1.2em;
    color: #333;
}

.cart-quantity {
    width: 35%;
}

.cart-item-title {
    color: #333;
    margin-left: 0.5em;
    font-size: 1.2em;
}

.cart-item-image {
    width: 75px;
    height: auto;
    border-radius: 10px;
}

.btn-danger {
    color: white;
    background-color: #eb5757;
    border: none;
    border-radius: 0.3em;
    font-weight: bold;
}

.btn-danger:hover {
    background-color: #cc4c4c;
}

.cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid #56ccf2;
    background-color: #eee;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
}

.cart-row:last-child {
    border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
    border: none;
}

.cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}

.cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    margin-right: 20px;
}

.cart-total-price {
    color: #333;
    font-size: 1.1em;
}

.btn-purchase {
    display: block;
    margin: 40px auto 80px auto;
    font-size: 1.75em;
}

.btn-close {
    display: block;
    font-size: 1.75em;
    margin: auto;
}

.header__cart {
    width: 40px;
    justify-content: space-around;
    align-items: center;
    display: flex;
}

.fa-shopping-cart {
    font-size: 3rem;
    background-image: url('../../img/shopping.png');
    width: 32px;
    height: 32px;
    margin-left: 5px;
}

._center_everything {
    display: grid !important;
    place-items: center !important;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 100px;
    border-radius: 6px;
    padding: 1px;
    z-index: 1;
    top: 38px;
}

.dropdown-content div {
    width: 100%;
    color: black;
    text-decoration: none;
    display: block;
    padding: 8px;
    border: none;
    border-radius: 5px;
    background: none;
    cursor: pointer;
}

.dropdown-content div:hover {
    background-color: #ddd;
}

.dropdown-content div:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}