#catalog-product {
    padding: 15px;
    float: left;
    background-color: #fff;
    width: 290px;
}

.catalog-item {
    border: 1px solid #fff;
    cursor: pointer;
    padding: 12px;
    border-radius: 3px;
    font-size: large;
    background-color: #c8c8c8;
}

.item-cc {
    font-size: medium;
    color: #787878;
}

#current-catalog {
    margin-bottom: 20px;
}